.order-display-section {
    margin-bottom: 30px;
}

.order-display-section td:nth-child(1) {
    padding-left: 0;
}

.order-display-section td:nth-child(2) {
    padding-left: 15px;
}

.order-display-section td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.order-display-section label {
    display: inline-block;
    margin: 20px 0 10px 0;
    color: #0d88d3;
    font-weight: bold;
}

.order-display-section .quantity {
    padding-right: 15px;
}

#checkout-addresses {
    display: grid;
    grid-template-columns: 50% 50%;
}

#article-overview {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 20px;
}

@media only screen and (max-width: 600px) {

    #checkout-addresses {
        grid-template-columns: 100%;
    }

    #article-overview {
        grid-template-columns: 35% 65%;
    }

}