.selectdiv {
    position: relative;
    height: 36px;
}

.selectdiv:after {
    content: '\f078';
    font-family: FontAwesome;
    color: #fee011;
    right: 11px;
    top: 6px;
    height: 20px;
    padding: 8px 0 0 8px;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    height: 36px;
    float: right;
    margin: 5px 0;
    padding: 0 5px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: white;
    border: 1px solid #CCC;
    -ms-word-break: normal;
    word-break: normal;
}