.form-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-row > label {
    margin-right: 10px;
    display: inherit;
    margin-bottom: 10px;
    color: #0d88d3;
    font-weight: bold;
}

.form-row > input, .form-row > select {
    width: 100%;
}

.twin-form-row {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 20em;
}

form h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

button {
    padding: 10px;
    background: #0d88d3;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: 20px;
}

button:hover:active {
    background: #10A4FF;
}

button:hover{
    background: #0B70AD;
}