.form-row {
    flex-grow: 1;
    padding: 20px 0;
}

.form-row > label {
    margin-right: 10px;
    display: inherit;
    margin-bottom: 10px;
    color: #0d88d3;
    font-weight: bold;
}

.form-row > input, .form-row > select {
    width: 100%;
}


.form-row span {
    display: inline-flex;
    align-items: center;
}

.twin-form-row, .twin-button-row {
    display: flex;
    justify-content: space-between;
}

.twin-form-row > :first-child {
    padding-right: 10px;
    margin-right: 10px;
}

.twin-button-row > :first-child {
    background-color: #999;
    margin-right: 10px;
}

.twin-button-row > :nth-child(2) {
    margin-right: -10px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 30em;
}

@media only screen and (max-width: 600px) {
    #content {
        max-width: 20em;
    }

    .twin-button-row {
        flex-direction: column-reverse;
    }

}

#content h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

#back-btn {
    background-color: #999999;
}