.twin-button-row {
    display: flex;
    justify-content: space-between;
}

.twin-button-row > :first-child {
    background-color: #999;
    margin-right: 10px;
}

.twin-button-row > :nth-child(2) {
    margin-right: -10px;
}

@media only screen and (max-width: 600px) {
    .twin-button-row {
        flex-direction: column-reverse;
    }
}