.price-display label {
    width: 50%;
    display: inline-block;
}

.price-display {
    margin-top: 30px;
}

.price-row {
    margin-right: 10px;
    display: inherit;
    margin-bottom: 10px;
}

#article {
    width: 100%;
}

#quantity {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

i {
    font-size: 20px;
    color: #0d88d3;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    i {
        padding: 14px;
        border: 2px solid #EEE;
    }

    #quantity {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
