.price-display label {
    width: 50%;
    display: inline-block;
}

.price-display {
    margin-top: 30px;
}

.price-display > h2 {
    margin-bottom: 20px;
}

.price-row {
    margin-right: 10px;
    height: 36px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

#article {
    width: 100%;
    color: #0d88d3;
    font-weight: bold;
}

#quantity {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

i {
    font-size: 20px;
    color: #fee011;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    i {
        padding: 10px;
        border: 1px solid #EEE;
    }

    #quantity {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
