
#product-view {
    text-align: center;
}

#product-view h1 {
    font: 36px "Futura";
    text-align: center;
    color: #0d88d3;
}

#product-img {
    max-width: 300px;
    margin: 40px 0;
}

#product-view h3 {
    color: #0d88d3;
}

.content {
    display: flex;
    flex-direction: column;
}

#product-view main {
    display: flex;
    justify-content: center;
}

#product-view h2 {
    margin-bottom: 40px;
}

#product-view li {
    padding-top: 8px;
    padding-bottom: 8px;
}

#product-view ul {
    padding-left: 20px;
    margin-top: 0;
}

#product-view img {
    margin-left: auto;
    margin-right: auto;
}

.order-now-button {
    width: 150px;
    background-color: #fbd80d;
    margin-left: auto;
    margin-top: 0;
}

.order-now-button:hover {
    background-color: #EDD10C;
}

.order-now-button:hover:active {
    background-color: #FFE10D;
}

.content-block {
    margin: 30px 0;
}

#set-overview {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    #set-overview {
        grid-template-columns: 100%;
    }

    #vl-fuehler-text {
        grid-row: 2;
    }

    #at-fuehler-text {
        grid-row: 4;
    }
}

#set-overview img {
    max-height: 200px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #666;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    color: white;
}

.jumbotron > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .jumbotron > .content {
        flex-direction: column;
    }

    .order-now-button {
        float: none;
        margin-left: 0;
    }

    #schema {
        width: 100%;
    }
}