/* Article Row */

.article {
    width: 100% !important;
}

.quantityDisplay {
    padding-right: 5px;
}

/* Collapsible */

.lbl-toggle {
    width: 100% !important;
    display: block;
    color: #0d88d3;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    padding-top: 20px;
    padding-bottom: 10px;
}

.lbl-toggle:hover {
    color: #0B70AD;
}

.lbl-toggle::before {
    content: '\F078';
    font-family: FontAwesome;
    display: inline-block;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
    margin-bottom: 10px;
    background-color: #e5f2fd;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 10px;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    display: inline;
}

#collapsible {
    display: none;
}

.content-inner label {
    color: black;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    .collapsible-content .price-row {
        padding: 10px 0;
    }
}