@font-face {
    font-family: "Futura";
    src: url("/assets/futura-book.ttf");
}

.App {
    text-align: center;
    font-family: Futura;
    font-size: 14pt;
    margin-bottom: 150px;
    -webkit-font-smoothing: antialiased;
}

.App-header {
    height: 150px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #E5F2FD;
}

@media only screen and (max-width: 600px) {
    .App-header {
        height: 40px;
    }

    #logo {
        width: 200px;
    }
}

#logo {
    max-width: 400px;
    align-self: center;
}

#content-container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

button {
    padding: 10px;
    background: #0d88d3;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 48px;
    margin-top: 20px;
    font-family: Futura;
    font-size: 14pt;
    cursor: pointer;
}

button:hover:active {
    background: #10A4FF;
}

button:hover {
    background: #0B70AD;
}

button > a {
    text-decoration: none;
    color: white;
}

input {
    height: 48px;
    font-size: 14pt;
    border: 1px solid #CCC;
    padding-left: 10px;
    box-sizing:border-box;
}

a {
    color: #0d88d3;
}